<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }}</title>

<!--<link href="https://cdn.bootcss.com/iview/2.4.0/styles/iview.css" rel="stylesheet">-->
<script src="https://cdn.bootcss.com/vue/2.5.3/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
<!--<script src="https://cdn.bootcss.com/iview/2.4.0/iview.js"></script>-->