@import "layout";
@import "mixins/wrapText";

$bg-color: #DDF0ED;

body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

#magnets {
  width: 100%;
  height: 100%;
  display: flex;

  flex: {
    direction: row;
    wrap: wrap;
  };
  justify-content: center;
  align-items: center;
  align-content: center;
}

.magnet {
  background-color: #2d8cf0;
  text-align: center;
  display: table;
  height: 150px;
  margin: 5px;
  padding: 20px;
  font: {
    size: 35px;
  };
  > a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
  }
}
