@import "layout";
@import "mixins/wrapText";

$bg-color: #DDF0ED;

html {

  @include responsive(xs) {
    font-size: 37.5%;
  }

  @include responsive(sm) {
    font-size: 43.8%;
  }

  @include responsive(md) {
    font-size: 50%;
  }

  @include responsive(lg) {
    font-size: 56.3%;
  }

  @include responsive(xl) {
    font-size: 62.5%;
  }
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#magnets {
  box-sizing: border-box;
  display: flex;

  flex: {
    direction: row;
    wrap: wrap;
  };
  justify-content: center;
  align-items: center;
  align-content: center;
}

.magnet {
  background-color: #2d8cf0;
  text-align: center;
  display: table;
  margin: 0.5rem;
  padding: 3rem 2rem;
  font: {
    size: 3.5rem;
  };
  > a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
  }
}
