@import "layout";
@import "mixins/mk";
@import "mixins/wrapText";

$nav-bgColor: #303538;

body {
  margin: 0 auto;
  background: {
    color: #303538;
  };
}

a {
  text-decoration: none;
}

.container {
  @include wrapText;
  margin: 0 auto;
  padding: 50px 60px;
  width: 810px;
  background: {
    color: white;
  };
  >div:not(:last-of-type) {
    margin-bottom: 80px;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 20vh;
  text-align: right;
  width: 100px;
  padding: 40px 20px;
  color: white;
  background-color: dimgray;
  >a {
    text-decoration: none;
    color: white;
  }
}

.topNav {
  background: {
    color: $nav-bgColor;
  };
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  ~div {
    padding: 20px;
  }
}

.topNav_text {
  font: {
    size: 35px;
    weight: 900;
  }
  line-height: 50px;
  color: white;
  text-align: center;
}

ul, ol {
  margin: {
    left: -20px;
    top: 0;
    bottom: 0;
  };
}

#contact>ul {
  list-style: {
    type: square;
  };
  font: {
    size: 22px;
  };

  >li {
    line-height: 35px;
  }
}

#info {
  table {
    width: 100%;
    border: 1px solid gainsboro;
  }
  tr {
    width: 100%;
  }
}

#info li {
  font: {
    size: 22px;
  };
}

td {
  padding: 10px;
}

img#portrait {
  width: 150px;
}

#thanks {
  text-align: right;
}