@import "layout";
@import "mixins/mk";
@import "mixins/wrapText";

$nav-bgColor: #303538;

body {
  margin: 0 auto;
  background: {
    color: #303538;
  };
}

a {
  text-decoration: none;
}

.container {
  @include wrapText;
  margin: 0 auto;
  padding: 2.5rem 3rem;
  width: 35rem;
  transform-origin:left top;
  background: {
    color: white;
  };
  >div:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

.topNav {
  background: {
    color: $nav-bgColor;
  };
  width: 100%;
  min-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  ~div {
    padding: 1rem;
  }
}

.topNav_text {
  font: {
    size: 1.75rem;
    weight: 900;
  }
  line-height: 2.5rem;
  color: white;
  text-align: center;
}

ul, ol {
  margin: {
    left: -1rem;
    top: 0;
    bottom: 0;
  };
}

#contact>ul {
  list-style: {
    type: square;
  };
  font: {
    size: 1.1rem;
  };

  >li {
    line-height: 1.75rem;
  }
}

#info {
  table {
    width: 100%;
    border: 0.05rem solid gainsboro;
  }
  tr {
    width: 100%;
  }
}

#info li {
  font: {
    size: 1.1rem;
  };
}

td {
  padding: 0.5rem;
}

img#portrait {
  width: 7.5rem;
}

#thanks {
  text-align: right;
}