<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>



<div id="magnets">
    <magnet-item
        v-for="magnet in magnets"
        :magnet="magnet"
        :key="magnet.id">
    </magnet-item>
</div>

<script>
    Vue.component('magnet-item', {
        // todo-item 组件现在接受一个
        // "prop"，类似于一个自定义属性
        // 这个属性名为 todo。
        props: ['magnet'],
        template:
        '<div class="magnet" :id="\'magnet-\'+magnet.id">' +
            '<a :href="magnet.url" target="_blank">\{{ magnet.title }}</a>'+
        '</div>'
    });

    var magents = new Vue({
        el: "#magnets",
        data: {
            magnets: [
                {
                    id: 0,
                    title: '简历',
                    url: '/resume'
                },
                {
                    id: 1,
                    title: '原简历',
                    url: '/oresume'
                },
                {
                    id: 2,
                    title: '面试题',
                    url: '/interview_questions'
                },
                {
                    id: 3,
                    title: '金点子',
                    url: '/ideasBoard'
                }
            ]
        }
    });
</script>

</body>
</html>