<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>创意公示板</title>
</head>
<body>
<ol>
    <li>语言学习网站</li>
        <span>
            初次登录首页，正中间左右两侧分别显示英文和中文。内容如下：
            我们经常说，英语水平多少多少级可以做到什么地步，比如阅读英文原著，啥的，但是有多少人真正这么去做了呢？我们希望能让人正常阅读英文原著，在阅读中不断提升。

            然后进入了以后选择书籍，还有投票新选择想要阅读的书籍请求网站处理。
            核心思想：阅读小说或者其他专业书籍。
                1.首先根据出现的频率对书中所有单词排序  //然后用户可以设定前多少位或者前多少个数字需要学习，同时网站也可以提供一套方案，结合大部分人的学习情况推荐
                2.将所有单词对应英语的考试制度标出来   //比如这个单词是四六级词库的，选择学习哪几个词库。
                3.每次阅读时，大部分文字是中文，少部分文字是英文   //这种模式只适合记单词，还可以增加句子模式
                4.默认最开始学习时是中-英这种格式  //可选择左右对比，或移动端点击后弹出弹框提供释义
                5.书籍的处理需要深度定制   //前面先显示了的且被标记学习过了的，以后就只显示英文，后面的章节慢慢地就多出来不认识的单词，这些单词可能以前显示的是中文，现在要学了就显示英文，点击查看释义则会被添加进忘词本
                6.用户可选择难度等级     //就是每次阅读多少章，每章有多少个新单词
        </span>
        <span>额，发现一个类似网站：lingvist</span>
    <li>灵动棋实现</li>
        <span>
            实现纳米核心的灵动棋网页版
        </span>
</ol>
</body>
</html>