<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>

<div id="app">
    <ol>
        <li v-for="idea in ideas">
            <span>\{{ idea.title }} </span>
            <br>
            <span><b>详情：</b> \{{idea.desc}} </span>
            <br>
            <span><b>备注：</b> \{{ idea.notes }}</span>
        </li>
    </ol>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            ideas: [
                {
                    title: '语言学习网站',
                    desc: '初次登录首页，正中间左右两侧分别显示英文和中文。内容如下：我们经常说，英语水平多少多少级可以做到什么地步，比如阅读英文原著，啥的，但是有多少人真正这么去做了呢？我们希望能让人正常阅读英文原著，在阅读中不断提升。然后进入了以后选择书籍，还有投票新选择想要阅读的书籍请求网站处理。核心思想：阅读小说或者其他专业书籍。1.首先根据出现的频率对书中所有单词排序  //然后用户可以设定前多少位或者前多少个数字需要学习，同时网站也可以提供一套方案，结合大部分人的学习情况推荐2.将所有单词对应英语的考试制度标出来   //比如这个单词是四六级词库的，选择学习哪几个词库。3.每次阅读时，大部分文字是中文，少部分文字是英文   //这种模式只适合记单词，还可以增加句子模式.默认最开始学习时是中-英这种格式  //可选择左右对比，或移动端点击后弹出弹框提供释义5.书籍的处理需要深度定制   //前面先显示了的且被标记学习过了的，以后就只显示英文，后面的章节慢慢地就多出来不认识的单词，这些单词可能以前显示的是中文，现在要学了就显示英文，点击查看释义则会被添加进忘词本6.用户可选择难度等级     //就是每次阅读多少章，每章有多少个新单词',
                    notes: '额，发现一个类似网站：lingvist'
                },
                {
                    title: '灵动棋实现',
                    desc: '实现纳米核心的灵动棋网页版',
                    notes: '无'
                },
                {
                    title: '网页版小说爬虫',
                    desc: '        <span>1.仿material design风格，右边是贴边隐藏的设置项，里面包含背景色，字体，下载，屏蔽词等设置，和最重要的书源设置2.顶部贴边隐藏栏，藏着搜索书名，选择全文阅读还是章节阅读，选择新页面打开还是原页面打开（默认） </span>',
                    notes: '无'
                },
                {
                    title: '每日计划每日总结',
                    desc: '每日注册一个TODO，每天下班时定时提醒是否完成，若失败，失败原因，然后可以以当前开始写TODO的月份开始以日历表红绿色标出完成的情况一览',
                    notes: '无'
                }
            ]
        }
    });
</script>
</body>
</html>