<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link rel="stylesheet" href="/public/css/resume.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="#contact">联系方式</a><br>
            <a href="#info">个人信息</a><br>
            <a href="#employment_exp">工作经历</a><br>
            <a href="#open_source_project">开源项目</a><br>
            <a href="#skills">技能清单</a><br>
            <a href="#summary">总结</a><br>
        </div>
        <div class="topNav">
            <div class="topNav_text">
                <span>汤一飞——西南大学计信院17届应届生</span>
                <br>
                <sub>应聘职位：前端开发</sub>
            </div>
        </div>
        <div id="contact">
            <div class="mk-h1">联系方式</div>
            <ul>
                <li>手机: 18883304636</li>
                <li>微信: tyf914</li>
                <li>QQ: &nbsp;914635261</li>
                <li>邮箱: 914635261@qq.com</li>
            </ul>
        </div>

        <div class="mk-hr"></div>

        <div id="info">
            <div class="mk-h1">个人信息</div>
            <table>
                <tr>
                    <td>
                        <img src="images/portrait.jpg" id="portrait" alt="portrait">
                    </td>
                    <td>
                        <ul>
                            <li>汤一飞/男/1996-09-14/湖南常德</li>
                            <li>本科/西南大学/计算机与信息科学学院</li>
                            <li>CSDN博客：<a href="http://blog.csdn.net/u013836242">http://blog.csdn.net/u013836242</a></li>
                            <li>Github: <a href="https://github.com/tyf914">https://github.com/tyf914</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <div id="employment_exp">
            <div class="mk-h1">工作经历</div>
            <div class="mk-h2">实习：重庆科智科技有限公司(2016-07-08 ~ 2016-09-05)</div>
            <div class="mk-h3">哪儿课在线教育平台</div>
            <div class="mk-h4">项目介绍：</div>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科智公司开发的在线教育平台，分为个人版和企业版。离职时个人版已完成，企业版大致完成，准备提供0.99版给长江师范学院作为学校内需学习系统使用。
            </span>
            <br>
            <div class="mk-h4">个人总结：</div>
            <ul>
                <li>
                    初入公司，平台个人版已大致完成。我负责修改完善部分页面，和熟悉团队的开发环境以及工作流程。
                </li>
                <li>
                    进入公司一周后，公司开始开发平台企业版。<br>
                    我的主要工作是：
                    <ol>
                        <li>
                            根据UI给出的页面设计图实现页面，因为UI只给一张大图，所以我也需要负责页面的响应式设计以及部分设计的修改；
                        </li>
                        <li>
                            与后端进行交互，根据后端给出的接口，发送和请求数据，处理和展示数据。
                        </li>
                    </ol>
                </li>
            </ul>
            <br>
            <br>
            <div class="mk-h2">
                <span>正式工作：北京匡恩网络科技责任有限公司(2017-07-03至今)</span>
            </div>
            <div class="mk-h3">匡恩网络情报信息平台</div>
            <div class="mk-h4">项目介绍：</div>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;匡恩网络开发的网络安全信息平台。目前完成1.0版本，大致功能已完全实现，即将开始2.0版本的开发。
            </span>
            <br>
            <div class="mk-h4">个人总结：</div>
            <ul>
                <li>
                    初入公司，熟悉团队的开发环境以及工作流程。前端方面，熟悉项目所采用的SmartAdmin框架，框架没有中文文档，需要自己结合项目已完成的部分页面慢慢摸索。
                </li>
                <li>
                    大致熟悉了所用框架后，项目组开始分配给我一些页面让我制作，然后同样是请求和处理数据，展示数据。这期间因为1.0版本已经开发了一段时间，工作量并不算太大。
                </li>
                <li>
                    约一个月后整体页面大致完成，因为项目中使用了多种插件，框架也没有中文文档，所以需要对之前的许多BUG进行修复，并且因为项目组没有UI，还需要慢慢调整页面布局等等。<br>
                    这期间我主要的贡献是：
                    <ol>
                        <li>为DataTables插件生成的表格添加了<a href="#scrollbar">自己实现的滚动条</a>，以保证视觉效果；</li>
                        <li>对项目中使用的多种表格插件生成的表格优化，以适应不同大小的浏览器窗口，以及为实现更好的效果修改之前的部分页面设计；</li>
                        <li>修复各类BUG：如Firefox浏览器下快速刷新导致页面出现错误等等。</li>
                    </ol>
                </li>
            </ul>
        </div>

        <div class="mk-hr"></div>

        <div id="open_source_project">
            <div class="mk-h1">开源作品</div>
            <div class="mk-h3">文件树生成工具</div>
            <div class="mk-h4">介绍：</div>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在学习廖雪峰老师的JS教程时，我发现在评论中有人问了好几次廖老师——教程中的文件树是用什么工具生成的？于是产生了做一个文件树生成工具的想法，这个项目实际上是为了练习Node的文件流操作。
            </span>
            <div class="mk-h4">目前进度：还在完善中</div>
            <span>
                <ol>
                    <li>
                        已经可以读取目录下的文件名并以特定格式输入到TXT文件中，但是输出的顺序不符合预期，最终产生的文件树不符合项目结构。
                    </li>
                    <li>
                        需要加深对Node和JS的异步流程控制的理解，以正确的顺序生成文件树。
                    </li>
                    <li>
                        项目地址：<a href="https://github.com/tyf914/fileTree">Github地址</a>
                    </li>
                </ol>
            </span>

            <br>
            <br>
            <div class="mk-h3" id="scrollbar">手写滚动条</div>
            <div class="mk-h4">介绍：</div>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开发情报信息平台时，前端采用DataTables为日志和数据库数据的表格控件，用户可以选择每页显示很多条数据，但这样的话换页很不方便，必须回到表格底部点击。 <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于是我想：将表格显示的最大高度固定为约10条数据的高度，再做一个滚动条控制数据的显示。滚动条平时隐藏起来，不影响视觉效果，检测鼠标移动到滚动条游标上或者鼠标滚轮滚动才显示出来。
            </span>
            <div class="mk-h4">目前进度：已完成</div>
            <span>
                <ol>
                    <li>
                        除了一开始基于DataTables的滚动条，后来又提取出了独立的滚动条，不用DataTables也能使用。
                    </li>
                    <li>
                        项目地址：<a href="http://blog.csdn.net/u013836242/article/details/77746149">CSDN博客地址</a>
                    </li>
                </ol>
            </span>

            <br>
            <br>
            <div class="mk-h3">Google插件：CSDN广告屏蔽</div>
            <div class="mk-h4">介绍：</div>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在CSDN上查看博客时，觉得页面上的广告很碍眼，于是想自己写个脚本去掉这些广告。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;需求是——每次访问CSDN博客文章自动去掉页面上的广告，据此需求寻找解决办法，最后找到一篇编写Google插件的教程，于是照着教程写了个插件来屏蔽广告。
            </span>
            <div class="mk-h4">目前进度：已完成</div>
            <span>
                <ol>
                    <li>
                        除了开始针对CSDN博客页面的广告做屏蔽处理，后面访问其他一些网站时，也添加了对相关网站页面的广告屏蔽，比如SASS中文网、廖雪峰老师的教程等。
                    </li>
                    <li>
                        项目地址：<a href="https://github.com/tyf914/chrome-plugin">GitHub地址</a>
                    </li>
                </ol>
            </span>
        </div>

        <div class="mk-hr"></div>

        <div id="tech_articles">
            <div class="mk-h1">技术文章</div>
            <div class="mk-h3">其余文章见<a href="http://blog.csdn.net/u013836242">CSDN博客</a></div>
            <ol>
                <li><a href="http://blog.csdn.net/u013836242/article/details/77882631">阮一峰老师网络协议相关博客读后总结_图解</a></li>
                <li><a href="http://blog.csdn.net/u013836242/article/details/77775924">真正理解Prototype_图解</a></li>
                <li><a href="http://blog.csdn.net/u013836242/article/details/77526100">Chrome和Firefox下页面快速刷新的错误及解决办法</a></li>
                <li><a href="http://blog.csdn.net/u013836242/article/details/77839375">廖雪峰老师JS教程读书笔记系列</a></li>
                <li><a href="http://blog.csdn.net/u013836242/article/details/52932856">《JavaScript标准参考教程（alpha）》读书笔记系列</a></li>
                <li><a href="http://blog.csdn.net/u013836242/article/details/52910077">《JavaScript&jQuery交互式Web前端开发》读书笔记系列</a></li>
            </ol>

        </div>

        <div class="mk-hr"></div>
        
        <div id="skills">
            <div class="mk-h1">技能清单</div>
            <ul>
                <li>前端基础： HTML/CSS/JavaScript/jQuery</li>
                <li>前端进阶： ES6/SASS/VUE</li>
                <li>前端框架： Bootstrap/Uikit</li>
                <li>后端语言： Node</li>
                <li>数据库相关： MySQL/MongoDB</li>
                <li>版本控制： Git</li>
                <li>模板引擎： EJS/HandleBars</li>
                <li>Web框架： Express/Koa</li>
                <li>其他技术： C/C++/Java/JSP/Linux....</li>
            </ul>
        </div>

        <div class="mk-hr"></div>

        <div id="summary">
            <div class="mk-h1">总结</div>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大三下学期，我决定以前端为发展方向，随后结合JSP和Bootstrap框架做了一个论坛为学年设计，但其实并没有掌握好方法，项目中存在很多不足。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随后，在实习过程中，我开始掌握前端开发的学习和工作方法。了解到自己做为一个前端新人“能做什么”和“要做什么”，参与了团队开发，沟通协作，
                并习惯了上班族的状态。同时，在技术层面和工作态度上，努力向前端的前辈学习，汲取经验。实习过程中，在线教育平台企业版这个项目我从开头就参与进来了，
                大部分时间项目组的前端开发只有我和前辈两个人，所以相信我对项目做得贡献也是不少的。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实习结束后，我回顾和整理实习期间的收获，我认为，对前端开发人员来说，各种技术层出不穷，
                开发者不仅需要对基础知识深入钻研，同时还需要不断扩宽自己的知识面，最后形成对整个项目开发的体系架构的完整理解和把控。于是，我在大四选择以Node+MongoDB+Express
                开发个人博客网站作为我的毕业论文，打通JS从前端到后端的道路，提高自己对前后台开发的整体认识。同时，在钻研深度上，我也读了廖雪峰老师和阮一峰老师的教程，以及其他几本前端技术书籍，
                基本覆盖了常用的HTML/CSS/JAVASCRIPT等方面。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毕业后，进入目前所在的公司工作，项目中使用的框架没有中文文档，各种插件的文档也很不完善，这些情况激发了我的研究兴趣，让我不断调优，不断折腾，不畏难，勇于尝试新技术。
                在工作的同时，我也意识到要不断提升自己：一开始，我根据<a href="http://ife.baidu.com/2016/task/all">2016百度前端技术学院</a>上的题目复习基本JS和HTML知识。
                项目大体开发告一段落后，我复习Node，复习JS，学习ES6，VUE，SASS等等。目前，我准备一边学习一边重新写一个个人博客网站，以巩固和加强吸收学到的新知识，不断提升自己。
            </span>
        </div>

        <div id="thanks">
            <div class="mk-h1">致谢</div>
            <div class="mk-h4">感谢您花时间阅读我的简历，期待能有机会和您共事。</div>
        </div>
    </div>

</body>
</html>