<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/resume.css">
    <title>我的简历</title>
</head>
<body>
    <div class="container">
        <div class="topNav">
            <div class="topNav_text">
                <span>汤一飞——西南大学计信院17届应届生</span>
                <br>
                <sub>应聘职位：前端开发</sub>
            </div>
        </div>
        <div id="contact">
            <div class="h1">联系方式</div>
            <ul>
                <li>手机: 18883304636</li>
                <li>微信: tyf914</li>
                <li>QQ: &nbsp;914635261</li>
                <li>邮箱: 914635261@qq.com</li>
            </ul>
        </div>
        <div id="info">
            <div class="h1">个人信息</div>
            <table>
                <tr>
                    <td>
                        <img src="images/portrait.jpg" id="portrait" alt="portrait">
                    </td>
                    <td>
                        <ul>
                            <li>汤一飞/男/1996-09-14/湖南常德</li>
                            <li>本科/西南大学/计算机与信息科学学院</li>
                            <li>CSDN博客：<a href="http://blog.csdn.net/u013836242">http://blog.csdn.net/u013836242</a></li>
                            <li>Github: <a href="https://github.com/tyf914">https://github.com/tyf914</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div id="employment_exp">
            <div class="h1">工作经历</div>
            <div class="h2">实习：重庆科智科技有限公司(2016-07-08 ~ 2016-09-05)</div>
            <div class="h3">哪儿课在线教育平台</div>
            <div class="h4">项目介绍：</div>
            <span>
                科智公司开发的在线教育平台，分为个人版和企业版 <br>
                离职时个人版已完成，企业版大致完成，准备提供0.99版给长江师范学院作为学校内需学习系统使用。
            </span>
            <br>
            <div class="h4">个人总结：</div>
            <ul>
                <li>
                    初入公司，平台个人版已大致完成。我负责修改完善部分页面，和熟悉团队的开发环境以及工作流程
                </li>
                <li>
                    进入公司一周后，开始开发平台企业版。<br>
                    主要工作是：
                    <ol>
                        <li>
                            根据UI给出的页面设计图实现实际页面，因为UI只给一张大图，所以我也需要负责页面的响应式设计以及部分设计的修改；
                        </li>
                        <li>
                            与后端进行交互，根据后端给出的借口，发送和请求数据。
                        </li>
                    </ol>
                </li>
            </ul>
            <br>
            <br>
            <div class="h2">
                <span>正式工作：北京匡恩网络科技责任有限公司(2017-07-03 ~ 2017-10-08)</span>
            </div>
            <div class="h3">ATX工控网络安全平台</div>
            <div class="h4">项目介绍：</div>
            <span>
                匡恩网络开发的工控网络安全平台<br>
                目前完成1.0版本，开始进行2.0的开发，大体功能已完全实现........
            </span>
            <br>
            <div class="h4">个人总结：</div>
            <ul>
                <li>
                    初入公司，熟悉团队的开发环境以及工作流程。前端方面，熟悉项目所采用的smartAdmin框架，框架没有中文文档，需要自己结合项目已完成的部分页面慢慢摸索。
                </li>
                <li>
                    大致熟悉了所用框架后，项目开发小组开始分配给我一些页面让我制作，然后同样是请求和处理数据，展示数据。
                </li>
                <li>
                    整体页面完成后，因为项目中使用了多种插件，框架也没有中文文档，所以需要对之前的许多bug进行修复，并且因为没有UI，还需要慢慢调整页面布局等等。
                </li>
            </ul>
        </div>

        <div id="open_source_project">
            <div class="h1">开源作品</div>
            <div class="h3">文件树生成工具</div>
            <div class="h4">介绍：</div>
            <span>
                在学习廖雪峰老师的js教程时，我发现在评论中有人问了好几次廖老师——教程中的文件树是用什么工具生成的？于是产生了做一个文件树生成工具的想法。<br>
                这个项目实际上是为了练习Node，没有实际的项目练手，对Node的理解始终感觉是雾里看花。
            </span>
            <div class="h4">目前进度：还在完善中</div>
            <span>
                <ol>
                    <li>
                        已经可以读取目录下的文件名并以特定格式输入到TXT文件中，但是输出的顺序不符合预期，最终产生的文件树不符合项目结构
                    </li>
                    <li>
                        需要加深对Node和JS的异步流程控制的理解，以正确的顺序生成文件树
                    </li>
                    <li>
                        项目地址：<a href="https://github.com/tyf914/fileTree">Github地址</a>
                    </li>
                </ol>
            </span>
            <br>
            <br>
            <div class="h3">手写滚动条</div>
            <div class="h4">介绍：</div>
            <span>
                开发工控网络安全平台时，前端采用dataTables为表格控件，因为数据量很大，需要做分页处理和自定义每页显示多少条数据，由此我发现了问题——如果每页显示条数过多，
                那么用户每次要点击下一页就很不方便，必须回到表格顶部或底部点击。 <br>
                开始我采用dataTables自带的垂直滚动条，限制表格整体最大高度为约10条数据的高度，通过滚动条滚动来显示其他数据，但是项目开发组组长认为这样视觉效果不好 <br>
                于是我产生了自己做一个滚动条的想法，它要做到：监听鼠标滚动事件；设定每次滚动的幅度；拉动滚动条可快速移动；根据当前位移程度设定游标位置；能适应多种分页情况；
                检测鼠标移动到滚动条游标上/鼠标滚轮滚动才显示滚动条，平时隐藏起来，不影响视觉效果；
            </span>
            <div class="h4">目前进度：已完成</div>
            <span>
                <ol>
                    <li>
                        除了一开始对dataTables的适配，后来我提取出了独立的滚动条，不用dataTables也能使用。
                    </li>
                    <li>
                        项目地址：<a href="http://blog.csdn.net/u013836242/article/details/77746149">CSDN博客地址</a>
                    </li>
                </ol>
            </span>
        </div>

        <div id="skills">
            <div class="h1">技能清单</div>
            <ul>
                <li>前端基础： HTML/CSS/JavaScript/jQuery</li>
                <li>前端进阶： ES6/SASS/VUE</li>
                <li>前端框架： Bootstrap/uikit</li>
                <li>后端语言： Node</li>
                <li>数据库相关： MySQL/MongoDB</li>
                <li>版本控制： Git</li>
                <li>模板引擎： EJS/HandleBars</li>
                <li>Web框架： Express/Koa</li>
                <li>其他技术： C/C++/Java/JSP/linux....</li>
            </ul>
        </div>

        <div id="summary">
            <div class="h1">总结</div>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大三下学期，我决定发展方向为前端，随后结合JSP和bootstrap框架做了一个论坛为学年设计，但其实并没有掌握好方法，论坛项目存在很多不足。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随后，在实习过程中，我开始掌握前端开发的学习和工作方法。了解到自己做为一个前端新人“能做什么”和“要做什么”，参与了团队开发，沟通协作，
                并习惯了上班族的状态。同时，在技术层面和工作态度上，努力向前端的前辈学习，汲取经验。实习过程中，大部分事件项目组的前端开发只有我和前辈两个人，
                所以相信我对项目做得贡献也是不少的。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实习结束后，我回顾和整理实习期间的收获，我认为，对前端开发人员来说，各种技术层出不穷，
                开发者不仅需要对基础知识深入钻研，同时还需要不断扩宽自己的知识面，最后对整个项目开发的体系架构有自己的完整理解和把控。于是，我在大四选择以nodejs+mongodb+express
                开发个人博客网站做为我的毕业论文，打通js从前端到后端的道路，提高自己对前后台开发的整体认识。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毕业后，进入目前所在的公司工作，逐步开始
            </span>
        </div>
        <div id="thanks">
            <div class="h1">致谢</div>
            <div class="h4">感谢您花时间阅读我的简历，期待能有机会和您共事。</div>
        </div>
    </div>

</body>
</html>