<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link rel="stylesheet" href="/public/css/homepage.css">
</head>
<body>

<div id="magnets">
    <magnet-item
            v-for="magnet in magnets"
            v-bind="magnet"
            ref="magnets">
    </magnet-item>
</div>

<script>
    Vue.component('magnet-item', {
        props: ['id', 'url', 'title'],
        template:
        `<div class="magnet" @click="onClick" style="cursor:pointer" :id="\'magnet-\'+ id">
            <a :href="url" target="_blank">\{{ title }}</a>
        </div>`,
        methods: {
            onClick: function (event) {
                if (event) {
                    if (event.target.tagName === 'DIV' ) {
                        event.target.childNodes[0].click();
                    }
                }
            }
        }
    });

    var magnets = new Vue({
        el: "#magnets",
        data: {
            magnets: [
                {
                    id: 0,
                    title: 'Vue',
                    url: '/study_notes/Vue'
                }
            ]
        }
    });

</script>

</body>
</html>