<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>

<div id="test">
    <my-awesome-list :items="items">
        <li slot="item" slot-scope="props">
            \{{ props.text }}
        </li>
    </my-awesome-list>
</div>

<script>
    Vue.component('my-awesome-list', {
        props: ['items'],
        template: `
<ul>
    <slot name="item" v-for="item in items" :text="item.text">
        暂无数据
    </slot>
</ul>
       `
    });

    var vm = new Vue({
        el: '#test',
        data: {
            items: [{
                a: 'a'
            }]
        }
    });

</script>

</body>
</html>