<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>

<div id="test">
    <anchored-heading :level="1">Hello world!</anchored-heading>
</div>

<script>
    Vue.component('anchored-heading', {
        render: function (createElement) {
            return createElement(
                    'h' + this.level,   // tag name 标签名称
                    this.$slots.default // 子组件中的阵列
            )
        },
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    })

    var vm = new Vue({
        el: '#test'
    })

</script>

</body>
</html>