$mk-h1-size: 2rem;

.mk-h1, .mk-h2, .mk-h3, .mk-h4 {
  font-weight: bolder;
}

.mk-h1 {
  font-size: $mk-h1-size;
  line-height: $mk-h1-size + 1rem;
  margin-bottom: 0.75rem;
}

.mk-h2 {
  font-size: $mk-h1-size - 0.5rem;
  line-height: $mk-h1-size + 0.5rem;
}

.mk-h3 {
  font-size: $mk-h1-size - 0.9rem;
  line-height: $mk-h1-size + 0.1rem;
}

.mk-h4 {
  font-size: $mk-h1-size - 1.15rem;
  line-height: $mk-h1-size + 0.15rem;
}

.mk-hr {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  &:after {
    content: "";
    display: block;
    width: 60%;
    height: 0.25rem;
    background-color: #DEDEDC;
  }
}